# -*- mode: gitignore; -*-

###############
# Emacs files #
###############
*_flymake.*
*~
.\#*
.dir-locals.el
.mypy_cache/
.projectile
/server/
\#*

# Ignore specific Emacs files and directories
dotfiles/emacs/eln-cache/
dotfiles/emacs/.emacs.desktop
dotfiles/emacs/.emacs.desktop.lock
dotfiles/emacs/.emacs-custom.el
dotfiles/emacs/auto-save-list
dotfiles/emacs/eshell/history
dotfiles/emacs/tramp
dotfiles/emacs/url
dotfiles/emacs/bookmarks
dotfiles/emacs/var

# Recursively ignore Emacs related files only under the emacs/ directory
dotfiles/emacs/**/.cache/
dotfiles/emacs/**/.cask/
dotfiles/emacs/**/.emacs.desktop
dotfiles/emacs/**/.emacs.desktop.lock
dotfiles/emacs/**/.org-id-locations
dotfiles/emacs/**/.python-environments/
dotfiles/emacs/**/.yas-compiled-snippets.el
dotfiles/emacs/**/ac-comphist.dat
dotfiles/emacs/**/anaconda-mode/
dotfiles/emacs/**/auto-save-list
dotfiles/emacs/**/auto/
dotfiles/emacs/**/company-statistics-cache.el
dotfiles/emacs/**/config.el
dotfiles/emacs/**/dist/
dotfiles/emacs/**/elpa/
dotfiles/emacs/**/elpy/
dotfiles/emacs/**/flycheck_*.el
dotfiles/emacs/**/games/
dotfiles/emacs/**/history
dotfiles/emacs/**/ido.last
dotfiles/emacs/**/network-security.data
dotfiles/emacs/**/places
dotfiles/emacs/**/recentf
dotfiles/emacs/**/semanticdb/
dotfiles/emacs/**/tramp
dotfiles/emacs/**/.yas-compiled-snippets.el
dotfiles/emacs/**/*.elc
dotfiles/emacs/**/*.rel
dotfiles/emacs/**/*_archive
dotfiles/emacs/**/>elpy/
dotfiles/emacs/**/lsp-cache/
dotfiles/emacs/**/etc/
dotfiles/emacs/**/image-dired/
dotfiles/emacs/**/url/
dotfiles/emacs/**/.lsp-session-v*

##########################
# don't ignore gitignore #
##########################
!/.gitignore

# Common directories
__pycache__/
*.log
/.direnv/
/.envrc
/dotfiles/emacs/.last-package-update-day
/dotfiles/emacs/emojis/
/dotfiles/emacs/eshell/
/dotfiles/emacs/git-command/
/dotfiles/emacs/helm-adaptive-history
/dotfiles/emacs/request/
/dotfiles/emacs/transient/
/dotfiles/emacs/tree-sitter/
/dotfiles/emacs/straight/
/node_modules/
/package.json
/package-lock.json
/flake.lock
